In [2]:
import pandas as pd
import numpy as nm

In [4]:
from sklearn.svm import SVC

In [6]:
from sklearn.model_selection import train_test_split

In [10]:
d=pd.read_table(r'C:\Users\Tanvir Khan\Desktop\fruit.txt')
d.head()

   fruit_label fruit_name fruit_subtype   mass  width  height  color_score
0            1      apple  granny_smith  192.0    8.4     7.3         0.55
1            1      apple  granny_smith  180.0    8.0     6.8         0.59
2            1      apple  granny_smith  176.0    7.4     7.2         0.60
3            2   mandarin      mandarin   86.0    6.2     4.7         0.80
4            2   mandarin      mandarin   84.0    6.0     4.6         0.79

In [14]:
d.loc[d['fruit_label']!=1, 'Lab']=0
d.loc[d['fruit_label']==1, 'Lab']=1
d.head()

,fruit_label,fruit_name,fruit_subtype,mass,width,height,color_score,Lab
0,1,apple,granny_smith,192.0,8.4,7.3,0.55,1.0
1,1,apple,granny_smith,180.0,8.0,6.8,0.59,1.0
2,1,apple,granny_smith,176.0,7.4,7.2,0.60,1.0
3,2,mandarin,mandarin,86.0,6.2,4.7,0.80,0.0
4,2,mandarin,mandarin,84.0,6.0,4.6,0.79,0.0

In [17]:
X=d[['height', 'width']]
y=d[['Lab']]

X_train, X_test, y_train, y_test= train_test_split(X, y, random_state=0, test_size=.25)

In [19]:
sv=SVC(kernel='linear').fit(X_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [22]:
sv.score(X_train, y_train)
sv.score(X_test, y_test)

0.6666666666666666